/*Head*/

* {
  padding: 0;
  margin: 0;
}

.head {
  text-align: center;
  color: lightblue;
  background: black;
}

/*navigation*/
.navigation > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.navigation > ul > li {
  margin-right: 30px;
  list-style: none;
}

/*main*/
.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(100px, auto);
  gap: 10px;
}

/*sections*/
.section-principal {
  grid-column: 2/4;
  width: 500px;
  margin: 10px 0px 10px 50px;
}

figure > img {
  width: 550px;
  height: 550px;
  margin-bottom: 10px;
}

.text-article-one {
  position: absolute;
  top: 65%;
  left: 34%;
  max-width: 500px;
  width: auto;
}

.text-article-two {
  position: absolute;
  top: 139%;
  left: 34%;
  width: 220px;
  color: aliceblue;
  max-width: 500px;
  width: auto;
}

.button-one {
  position: absolute;
  top: 75%;
  left: 60%;
  width: 100px;
  height: 25px;
}

.button-two {
  position: absolute;
  top: 148%;
  left: 60%;
  width: 100px;
  height: 25px;
}
/*aside*/
.aside-left {
  max-width: 500px;
  width: auto;
  height: 1000px;
  grid-column: 1/2;
  grid-row: 1/2;
  margin: 10px 0px 10px 10px;
}

.aside-right {
  max-width: 350px;
  width: auto;
  height: 1000px;
  grid-column: 4/5;
  grid-row: 1/2;
  margin: 10px 30px 10px 0px;
}

.image {
  width: 320px;
  height: 110px;
  background: black;
  margin: 20px 40px 6px 20px;
}

.image-media {
  width: 280px;
  height: 300px;
  background: black;
  margin: 10px 0 0 20px;
}

.article-aside {
  text-align: center;
}

.article-aside-right {
  display: flex;
  width: auto;
  margin: 10px 6px 0 15px;
  align-items: center;
}

.aside-right > hr {
  margin: 10px;
}

.image-right {
  width: 200px;
  height: 90px;
  background: black;
  margin-right: 25px;
}

/*footer*/
.footer {
  height: 100px;
  background: black;
}
